extends authorized

block content
  div.container
    h1.text-center Czech Court Decision Analyzer
    form(enctype="multipart/form-data" method="POST" action="/ccdanalyzer")
      input(type="file" name="file1")
      br
      button(type="submit") Analyze
    if analyzedText
      br
      p(style="white-space: pre-wrap") !{analyzedText}
